
.console-row {
    padding-top:3px;
    width:100vw;
    
}

.console-row-highlighted {
    animation: redfade 3s;
}

.console-cell {
    margin-left:5px; 
    display:inline-block; 
}

.large-green-text{
    font-family:'Courier';
    font-size: 12pt;
    color : limegreen;
}
.large-red-text{
    font-family:'Courier';
    font-size: 12pt;
    color : red;
}
.small-gold-text{
    font-family:'Courier';
    font-size: 9pt;
    color : gold;
}
.small-white-text{
    font-family:'Courier';
    font-size: 9pt;
    color : #ffffff;
}
.small-green-text{
    font-family:'Courier';
    font-size: 9pt;
    color : limegreen;
}
.small-red-text{
    font-family:'Courier';
    font-size: 9pt;
    color : red;
}
.small-cancelled-text {
    font-family:'Courier';
    font-size: 9pt;
    color : #8d9496;
}
.small-disabled-text {
    font-family:'Courier';
    font-size: 9pt;
    color : #8d9496;
}
.small-initializing-text {
    font-family:'Courier';
    font-size: 9pt;
    color :white;
}
.small-submitted-text {
    font-family:'Courier';
    font-size: 9pt;
    color :green;
}
.small-pending-text {
    font-family:'Courier';
    font-size: 9pt;
    color :white;
}
.small-activated-text {
    font-family:'Courier';
    font-size: 9pt;
    color :yellow;
}
.small-committed-text {
    font-family:'Courier';
    font-size: 9pt;
    color :red;
}
.small-pendingRetry-text {
    font-family:'Courier';
    font-size: 9pt;
    color :blue;
}
.small-finished-text {
    font-family:'Courier';
    font-size: 9pt;
    color :violet;
}

.tiny-white-text {
    font-family:'Courier';
    font-size: 8pt;
    color :white;
}

.tooolbar-div {
    background-color: black; 
    padding-right:5px; 
    width: 58px;
}

.toolbar-img {
    width:16px; 
    height:16px; 
    margin-left:5px;
    cursor:hand;
}
.textwrapper-logs
{
    border:1px solid #cccccc;
    margin:5px 0;
    padding:3px;
    background-color:#111111;
}
.outputwrapper-logs {
    padding:3px;
    background-color:#111111;
    /*height:100vh;*/
    overflow: auto;
}

.lm_content {
    overflow-y: auto;
}

.lm_active .tab-counter {
    background: #ee7813;
    padding-left: 3px;
    padding-right: 3px;
}

@keyframes redfade {
    from {
        background: red;
    }
    to {
        background: transparent;
    }
}

/* Tooltip container */
.tooltip {
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: limegreen;
    text-align: left;
    padding: 5px 0;
    border-radius: 6px;
    left: 20%;
    font-family:'Courier';
    font-size: 9pt;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
    visibility: visible;
}

.loader {
    position: absolute;
    left: 50%;
    top: 20%;
    z-index: 1;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #8d9496;
    width: 30px;
    height: 30px;
    margin:10px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  .alert-overlay {
    position: absolute;
    top:0;
    bottom: 500;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 50px;
    background-color: red;
    color: black;
    z-index: 999; 
    display:none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    border: 2px gold;
    
    /*visibility:visible; width:500px; height:500px; background-color:white; position:absolute; top:50px; left:20px;*/
}
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }